action-tutorials-py==0.9.3
ament-copyright==0.9.6
ament-cppcheck==0.9.6
ament-cpplint==0.9.6
ament-flake8==0.9.6
ament-index-python==1.0.2
ament-lint==0.9.6
ament-lint-cmake==0.9.6
ament-package==0.9.5
ament-pep257==0.9.6
ament-uncrustify==0.9.6
ament-xmllint==0.9.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
demo-nodes-py==0.9.3
domain-coordinator==0.9.1
dtweb==0.0.1
examples-rclpy-executors==0.9.4
examples-rclpy-minimal-action-client==0.9.4
examples-rclpy-minimal-action-server==0.9.4
examples-rclpy-minimal-client==0.9.4
examples-rclpy-minimal-publisher==0.9.4
examples-rclpy-minimal-service==0.9.4
examples-rclpy-minimal-subscriber==0.9.4
Flask==2.0.3
freeopcua==0.90.6
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
launch==0.10.5
launch-ros==0.11.2
launch-testing==0.10.5
launch-testing-ros==0.11.2
launch-xml==0.10.5
launch-yaml==0.10.5
lxml==4.7.1
MarkupSafe==2.0.1
numpy==1.22.2
opcua==0.98.13
osrf-pycommon==0.1.10
python-dateutil==2.8.2
pytz==2021.3
quality-of-service-demo-py==0.9.3
requests==2.27.1
ros2action==0.9.9
ros2bag==0.3.7
ros2cli==0.9.9
ros2component==0.9.9
ros2doctor==0.9.9
ros2interface==0.9.9
ros2launch==0.11.2
ros2lifecycle==0.9.9
ros2multicast==0.9.9
ros2node==0.9.9
ros2param==0.9.9
ros2pkg==0.9.9
ros2run==0.9.9
ros2service==0.9.9
ros2topic==0.9.9
rosidl-runtime-py==0.9.1
rpyutils==0.2.0
rqt-action==0.4.9
rqt-graph==1.1.2
rqt-gui==1.1.1
rqt-gui-py==1.1.1
rqt-reconfigure==1.0.7
rqt-topic==1.2.1
six==1.16.0
sros2==0.9.4
teleop-twist-keyboard==2.3.2
topic-monitor==0.9.3
urllib3==1.26.8
Werkzeug==2.0.3
